@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Mulish:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,300;1,500;1,700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Mulish:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,300;1,500;1,700&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Vina+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    color: white;
}
.navbar{
    position:fixed;
    z-index: 1000;
    height: 5rem;
    width: 100%;
    backdrop-filter: blur(30px);
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar.active{
    background-color: #04021d48;
}
.left{
    cursor: pointer;
    margin-left: 5rem;
}

.right{
    text-transform: capitalize;
    margin-right: 5rem;
}
.right .navUl{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.right ul li{
    list-style-type: none;
    margin: 0 15px;

}
.right ul li a{
   text-decoration: none;
   color: rgb(3, 3, 39);
   font-size: 1.2rem;
}
.right .navUl li a:hover{
   color: #050223;
}
   .mobile{
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    display: none;
   }

li Button{
    background: linear-gradient(orange,#d9620b); 
}

@media screen and (max-width:768px) {
    .mobile {
      display: block;
    }
    .right .navUl {
      display: none; /* Initially hide the navUl */
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      background-color: #d9620b;
      position: fixed;
      top: 5rem;
      right: 0px;
      width: 100%;
      backdrop-filter: blur(50px);
      
      padding: 1rem;
      background: transparent;
      gap: 1rem;
    }
    .left img {
      width: 8rem !important;
      height: 3rem !important;
      margin-left: -2rem;
    }
    .navUl.active {
      display: flex; /* Display the navUl when active */
    }
  }