.imageBox{
    width: 100%;
    height: 70vh;
    margin-top: 5rem;
    margin-left: -5px;
}
.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.SearchBaar1{
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  margin-top: -3rem !important;
  border: none;
  margin-bottom: 21px;
  margin: auto;
  margin-bottom: 2rem;
  gap: 1rem;
}
.typing_text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  top: -14rem;
    font-size: 1.5rem;
    margin: auto;
}
.inputType1 {
    font-size: 16px !important;
    max-width: 550px !important;
    padding-left: 37px !important;
    border-radius: 76px !important;
    background: #fff !important;
    color: #0d0d0d !important;
    border: none !important;
  border: 2px solid rgba(0, 0, 0, 0.389) !important;
  outline: none !important;
  max-height: 3rem !important;

}
.SearchBaar1 input:focus {
  border: 2px solid rgb(247, 120, 0) !important;

}

.SearchBaar1 Button{
  background: linear-gradient(orange,#d9620b);
}
.searchbtn1{
    width: 108px;
    height: 45px;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 1.2rem;
    color: white;
    border: none;
    text-decoration: none;
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);

}
.searchbtn1:hover{
    background-color: rgb(80, 80, 189);
    cursor: pointer;
}

@media screen and (max-width:768px) {
  .typing_text {
    margin: 0 2rem;
  }
  .typing_text h1 > span {
    font-size: 1.5rem !important;
  }
  .imageBox {
    height: 50vh;
  }
  .SearchBaar1{
    margin-right: 10px;
  }
  .inputType1 {
    max-width: 210px !important;
    max-height: 2.3rem !important;
    border: 1px solid rgba(0, 0, 0, 0.389) !important;
  }
  .searchbtn1{
    width: 80px;
    height: 40px;
  }
}
